<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles/stylesLogin.css">
</head>
<body>
    <header id="nav-wrapper">
        <nav id="nav">
          <div class="nav left">
            <span class="gradient skew"><h1 class="logo un-skew"><a href="/">La Ruta de Sabor de Comala</a></h1></span>
            <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
          </div>
          <div class="nav right">
            <a href="/" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
            <a href="/sales" class="nav-link"><span class="nav-link-span"><span class="u-nav">Ventas</span></span></a>

            <a href="/login" class="nav-link"><span class="nav-link-span"><span class="u-nav">Login</span></span></a>
            <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">About</span></span></a>
          </div>
        </nav>
      </header>
    <main>
        <div class="login-container">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="/register">Register here</a>.</p>
        </div>
    </main>
</body>
</html>
