<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/stylesSales.css">  <!-- Asegúrate de que la ruta sea correcta -->
</head>

<body>
    <header id="nav-wrapper">
        <nav id="nav">
            <div class="nav left">
                <span class="gradient skew"><h1 class="logo un-skew"><a href="/">La Ruta de Sabor de Comala</a></h1></span>
                <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
            </div>
            <div class="nav right">
                <a href="/" class="nav-link"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
                <a href="/sales" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Ventas</span></span></a>
                <a href="/login" class="nav-link"  id="welcome-message" style="display: none;"><span class="nav-link-span"><span id="username"></span></span></a>
                <a href="/login" class="nav-link"  id="login-link"><span class="nav-link-span"><span class="u-nav">Login</span></span></a>
                <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">About</span></span></a>
            </div>
        </nav>
    </header>
    
   
    
    <main>
      
            <h1>.</h1>
            <h2>.</h2>
        <button id="openModalBtn">Registrar Negocio</button>

        <div id="productModal" class="modal">
            <div class="modal-content">
            <span class="closeBtn">&times;</span>
            <h2>Publicar Negocio</h2>
            <form id="productForm" action="/upload-negocio" method="POST" enctype="multipart/form-data">
                <label for="productName">Nombre del Negocio:</label>
                <input type="text" id="productName" name="productName" required>
                <label for="productEmail">Email del Proveedor:</label>
                <input type="email" id="productEmail" name="productEmail" readonly>

                <label for="productCategory">Categoría:</label>
                <select id="productCategory" name="productCategory" required>
                    <option value="Turismo">Turismo</option>
                    <option value="Comida">Comida</option>
                    <option value="Entretenimiento">Entretenimiento</option>
                    <option value="Hospedaje">Hospedaje</option>
                    <option value="Transporte">Transporte</option>
                    <option value="Comercio">Comercio</option>
                    <option value="Otros">Otros</option>
               
                </select>
                
                <label for="productDescription">Descripción:</label>
                <textarea id="productDescription" name="productDescription" required></textarea>
                
                <label for="productImage">Imagen:</label>
                <input type="file" id="productImage" name="productImage" accept="image/*" required>
                
                <label for="productLocation">Ubicación:</label>
                <input type="text" id="productLocation" name="productLocation" required>
                <label for="productHorarioabierto">Horario de abrir:</label>
                <input type="time" id="productHorarioabierto" name="productHorarioabierto" required>
                <label for="productHorarioCerrado">Horario de Cerrado:</label>
                <input type="time" id="productHorarioCerrado" name="productHorarioCerrado" required>
                <button type="submit">Publicar</button>
            </form>
       
            </div>
        </div>
  
        <!-- Catálogo de productos -->
        <section id="product-catalog" class="ecommerce-section">
            <h2>Catálogo de Productos</h2>
            <div class="products-grid">
                <div class="product-card">
                    <img src="styles\background.webp" alt="Producto 3">
                    <h3 ><span id="titulo"></span></h3>
                    
                    <p>$39.99</p>
                    <button class="add-to-cart">Agregar al carrito</button>
                </div>
                <div class="product-card" id="showmen" style="display: none;">
                    <img src="styles\background.webp" alt="Producto 3">
                    <h3><span id="titulo2"></span></h3>
                    <p>$59.99</p>
                    <button class="add-to-cart">Agregar al carrito</button>
                </div>
                <div class="product-card">
                    <img src="styles\background.webp" alt="Producto 3">
                    <h3>Producto 6</h3>
                    <p>$24.99</p>
                    <button class="add-to-cart">Agregar al carrito</button>
                </div>
            </div>
        </section>

    </main>
     <!-- Importa el script externo -->
     <script src="script\autentNeg.js"></script>
     <script src="script\modal.js">
    </script>
    
    <script src="script\modalNegocio.js"></script>
    <footer>
        <p>Proyecto de especialidad de arquitectura y servicios web avanzados</p>
    </footer>


</body>
</html>